* {
  padding: 0;
  margin: 0;
}

.markdown-container {
  width: 100%;
  height: auto;
  background-color: #fbfbfb;
}

.top-content {
  width: 100%;
  height: 118px;
  padding: 24px;
  background-color: #fff;
}

.top-bottom {
  display: flex;
  margin-top: 24px;
}

.top-bottom .batch-btn {
  margin-right: 24px;
}

.bottom-content {
  width: 100%;
  height: auto;
  margin-top: 24px;
  padding: 24px;
  background: #fff;
}

.bottom-nav {
  height: 40px;
  border-bottom: 1px solid #e8e8e8;
}

.bottom-nav .nav-item {
  margin: 24px;
  padding: 5px 5px 10px;
}

.bottom-form {
  padding: 24px;
}

.form-btns {
  display: flex;
}

.form-btns .form-btns-left {
  flex: 8;
}

.form-btns .form-btns-right {
  flex: 2;
}
