*{
    margin:0;
    padding:0;
    list-style: none;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
}

%juzhong{
    display: flex;
    justify-content: center;
    align-content: center;
}

.complex-table{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.complex-top{
    width: 100%;
    height: 44px;
    padding:16px 0 0 24px;
}

.complex-content{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.complex-con-top{
    width: 100%;
    height: 73px;
    padding:24px;
}